.inner-addon {
    position: relative;
  }
  
  /* style glyph */
  .inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  .right-addon .fa {
    right: 0px;
  }
  
  .right-addon input {
    padding-right: 30px;
  }