html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: 400;
}
@import '@angular/material/prebuilt-themes/indigo-pink.css';

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 16px;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
  position: fixed;
  display: block;
  width: 100%;
  left: 0;
}

.navbar .dropdown-menu {
  border-top: 3px solid #999;
  a {
    padding: 0.55rem 1.5rem;
    font-size: .9rem;
    &:hover {
      background-color: #f1f1f1;
    }
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: .8rem;
  }
}

@media screen and (max-width: 992px) {
  .navbar .dropdown-menu a {
    text-align: center;
  }
  .navbar-default .navbar-collapse {
    text-align: center;
    background: #FFFFFF !important;
  }
  .navbar .dropdown-menu {
    border: none;
    width: 80%;
    margin: 10px auto;
    a {
      border-bottom: 1px solid #f4f7fa;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .navbar-light .navbar-nav .nav-item {
    > a {
      margin-top: 0;
      padding: 0;
    }
    border-bottom: 1px solid #f4f7fa;
    padding: 15px 0;
    &:last-child {
      border-bottom: none;
    }
    &.dropdown.show {
      padding-bottom: 0;
    }
  }
}

@media screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu {
    display: block;
  }
  .navbar .dropdown-menu:after {
    content: "";
    transform: rotate(45deg);
    border: 6px solid transparent;
    border-left-color: #999;
    border-top-color: #999;
    position: absolute;
    top: -7px;
    left: 25px;
  }
}

html * {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.img-circle {
  border-radius: 50%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:after, &:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

::-moz-selection, ::selection {
  color: #fff;
  background: #04a9f5;
}

.nopadding {
  padding: 0;
}

.no-margin {
  margin-right: 0;
  margin-left: 0;
}

.sup-title {
  display: inline-block;
  font-size: 1em;
  padding: 4px;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFFFFF;
  background: #000000;
  margin: 0 0 20px 0;
}

.spacer {
  width: 100%;
  height: 50px;
}

.spacer-big {
  width: 100%;
  height: 100px;
}

.error-message {
  color: #FF3333;
  margin-top: 5px;
}

.success-message {
  color: #33cc33;
  margin-top: 5px;
}

.navbar {
  font-size: 14px;
  font-weight: 500;
  padding-top: 25px;
  letter-spacing: 1px;
  height: 80px;
  z-index: 99;
}

.navbar-default {
  transition: all 0.6s ease;
  border-color: transparent;
  background-color: transparent;
  .navbar-toggle {
    border-radius: 0px;
    border-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
    .icon-bar {
      background-color: #111111;
    }
  }
  .navbar-brand {
    .navbar-toggle .collapsed {
      padding: 4px 6px;
      font-size: 16px;
      color: #111111;
    }
    padding: 0 0;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
    &:hover {
      transition: 1s;
    }
  }
  .navbar-nav > {
    li > a {
      color: #666666;
      font-weight: 700;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5;
      transition: all 0.5s;
      &:hover {
        color: #000000;
      }
    }
    .active > a {
      background: transparent;
      color: #FFFFFF;
      &:hover, &:focus {
        background: transparent;
        color: #FFFFFF;
      }
    }
  }
  .navbar-collapse {
    border-color: transparent;
    background-color: transparent;
  }
  .navbar-nav .open .dropdown-toggle {
    color: #111111;
  }
  .nav-white > li > a {
    color: #FFFFFF;
    &:hover {
      color: #999999;
    }
  }
}

/*---------- Media Queries ---------*/
@media only screen and (max-width: 767px) {
  .navbar {
    padding-top: 5px;
    height: 60px;
  }
  .navbar-default {
    border: 0px;
    background-color: transparent;
    .navbar-collapse {
      text-align: center;
      border-color: transparent;
      background-color: #FFFFFF;
      border: 0;
      border-color: transparent;
    }
    .navbar-nav > li > a {
      color: #222222;
      margin-top: 10px;
      &:hover {
        color: #222222;
      }
    }
    .navbar-brand {
      color: #FFFFFF;
      padding: 8px 8px !important;
    }
    .navbar-toggle .icon-bar {
      background-color: #111111;
    }
  }
}

@media only screen and (min-width: 240px) {
  .navbar {
    &.past-main {
      transition: all 0.6s ease;
      height: 50px;
      background-color: rgba(255, 255, 255, 0.99);
    }
    &.effect-main:active {
      -webkit-transition: height 0.6s;
      transition: height 0.6s;
      height: 60px;
    }
    &.past-main {
      font-size: 14px;
      padding-top: 5px;
      height: 60px;
      -webkit-box-shadow: 0 1px 5px 0 rgba(96, 96, 96, 0.3);
      -moz-box-shadow: 0 1px 5px 0 rgba(96, 96, 96, 0.3);
      box-shadow: 0 1px 5px 0 rgba(96, 96, 96, 0.3);
      -webkit-transition: height 0.6s;
      transition: height 0.6s;
    }
  }
  .navbar-default.past-main {
    .navbar-brand {
      padding: 8px 0;
    }
    .navbar-toggle .icon-bar {
      background-color: #111111;
    }
    .navbar-nav > {
      li > a {
        color: #2c394a;
        -webkit-transition: color 0.5s;
        transition: color 0.5s;
        &:hover {
          color: #111111;
        }
      }
      .active > a {
        background: transparent;
        color: #04a9f5;
        &:hover, &:focus {
          background: transparent;
          color: #222222;
        }
      }
    }
  }
}


#main {
  height: 100%;
}

.no-color {
  background: #FFFFFF;
}

label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  text-align: left;
}

// .form-control {
//   border: 0px;
//   border-radius: 0px;
//   margin-top: 10px;
//   background: transparent;
//   margin-bottom: 40px;
//   border-bottom: 1px solid #999999;
//   -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
//   box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
//   -webkit-transition: 0.5s;
//   -moz-transition: 0.5s;
//   transition: 0.5s;
//   &:focus {
//     border-color: #04a9f5;
//     -webkit-box-shadow: none;
//     -moz-box-shadow: none;
//     box-shadow: none;
//   }
//   &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
//     font-size: 13px;
//     color: #999999;
//   }
// }

.text-muted {
  font-size: 13px;
  color: #222;
  strong {
    color: #FF3333;
  }
}


/*---------------------------------------------------
----------- Contact Page Styling Ends -------------
---------------------------------------------------*/
/*----------------------------------------------------
------------- All ------------------------------------
--------------------- Media --------------------------
------------------------------- Queries --------------
-----------------------------------------------------*/
@media only screen and (min-width: 767px) {
  #left, #right {
    width: 25px;
  }
  #top, #bottom {
    height: 25px;
  }
  .custom-padding {
    padding-left: 80px;
    padding-right: 80px;
  }
  .btn-action {
    border: 2px solid #04a9f5;
    font-weight: 500;
    padding: 0 24px;
    a {
      color: #fff;
      &:hover {
        color: #04a9f5;
      }
    }
  }
  .counter-up {
    margin-bottom: 2em;
  }
  .counter-text {
    margin-bottom: 0;
  }
}

.cursor-pointer {
  cursor: pointer;
}
