<section class="mt-4">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li [ngbNavItem]="1">
            <button ngbNavLink>Menu</button>
            <ng-template ngbNavContent>

                <div class="container d-flex g-10">
                    <ng-container *ngFor="let imgObj of imageList">
                        <div class="menu-wrapper" [style.backgroundImage]="'url(' + imgObj?.url + ')'">
                            <div class="menu-wrapper-content w-100">
                                <div>{{imgObj.foodName}}</div>
                                <div>{{imgObj.cost | currency:'INR'}}</div>
                            </div>
                        </div>
                    </ng-container>
                    <div class="card border-0 p-4">
                        <button class="btn btn-primary teal-btn add-Po-button m-auto">
                            <img class="add_Po mr-2" src="assets/images/add_symbol.svg">Add more
                        </button>
                    </div>
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <button ngbNavLink>General Details</button>
            <ng-template ngbNavContent>
                <div class="d-flex flex-column">
                    <span> Restaurant Name: {{restaurantDetails?.restaurant_name}}</span>
                    <span> State: {{restaurantDetails?.state_name}}</span>

                </div>

            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="p-2"></div>
</section>