.nav-tabs .nav-link.active  {
    box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, 0.12);
    outline: none;
  }
  .nav-tabs {
    gap: 10px;
  }
  
  .menu-wrapper {
    width: 300px;
    height: 300px;
    // background-image: url('../../assets/burger.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    justify-content: center;
    color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .menu-wrapper-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
  }
  