body {
  line-height: 1.5;

  p,label,span,div,td, th,tr,li,body,h1,h2,h3,h4,h5,h6 {
    // font-family: 'Roboto', sans-serif;    
    font-family: 'poppins'!important;
  }
}
header {
  width: 100%;
}

.form-control{
  height: auto;
}

.border-less-image-gallery ks-modal-gallery .plain-container .image {
  border: none;
}

.datta-accordion {
  .card-header{
    .btn{
      padding: 0;
    }
  }
}

.h-back-user-list {
  color: $primary-color !important;
}

@media only screen and (max-width: 575px) {
  .pcoded-header .dropdown .dropdown-menu {
    left: 0 !important;
  }

  wizard.vertical .vertical a {
    display: none;
  }
}

.pcoded-header .dropdown.show:before {
  left: -10px !important;
  color: #064d95 !important; 
}

div.horizontal-scroll {
  overflow: auto;
  white-space: nowrap;
}

pre code{
  width: auto;
  min-width: 100%;
  margin-left: -80px !important;
}
.pcoded-navbar.navbar-collapsed ~ .pcoded-main-container .page-wrapper .doctor-list-page.p-3.bg-white.fixed-bottom.rounded.back_button span.backBottomButton.ng-star-inserted {
  left: 79px !important;
}