// .item {
//     padding: 12px 20px; /* Adjust padding for better spacing */
//     margin-bottom: 10px; /* Add margin between items */
//     font-size: 16px; /* Maintain readable font size */
//     color: #333; /* Dark text color for good contrast */
//     position: relative; /* Position relative for absolute positioning of icons */
//     cursor: pointer;
//   }
  
//   .item i:first-child {
//     margin-right: 10px; /* Add spacing between left icon and text */
//   }
  
//   .item i:last-child {
//     position: absolute; /* Position the arrow absolutely */
//     right: 20px; /* Adjust the distance from the right */
//     top: 50%; /* Position the arrow vertically in the middle */
//     transform: translateY(-50%); /* Adjust vertical positioning */
//   }
  
//   .item:hover {
//     background-color: #d3ebd3;/* Slightly lighter green background on hover */
//     color: #333; /* Dark text color remains on hover */
//   }