// Material
@use '@angular/material' as mat;
@include mat.core();
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'ngx-toastr/toastr';
/* You can add global styles to this file, and also import other style files */
// Form builder
@import "bootswatch/dist/cosmo/_variables.scss";
@import "bootstrap/scss/bootstrap.scss";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "bootswatch/dist/cosmo/_bootswatch.scss";
$fa-font-path: '~font-awesome/fonts';
@import 'font-awesome/scss/font-awesome';




// -> ng-select
@import "~@ng-select/ng-select/themes/default.theme.css";
.ng-select-searchable{
    width: 100%;
}

body {
    height: 100vh;
    overflow: auto;
    box-sizing: border-box;
    margin: 0;
}

.app-header{
    display: none;
}
.inspector-container{
    top: 30px;
    bottom: 0px;
}
.dynamic-form-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0px;
    width: 290px;
    box-sizing: border-box;
    z-index: 1;
    background-color: #393b61;
}

//
.navigate-menu{
    background-color: #393b61;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 30px;
    width: 290px;
    display: flex;
    > button{
        cursor: pointer;
        flex: 1;
    }
}
.cp {
    cursor: pointer;
}
.fs-13 {
    font-size: 13px;
}
.fs-15 {
  font-size: 15px;
}
// custom form
.dynamic-form-wrapper{
    top: 30px;
    padding: 14px 16px;
    color: #fff;
    .form-group{
        margin-bottom: 20px;
        label {
            color: #fff;
            margin-bottom: 4px;
            display: inline-block;
        }
    
        input{
            width: calc(100% - 15px);
            display: block;
            padding: 6px 6px;
            background-color: #434568;
            border: none !important;
            padding: 10px;
            color: #d0d0d0;
        }
        select {
            width: calc(100% - 15px);
            display: block;
            padding: 6px 6px;
            background-color: #434568;
            border: none !important;
            padding: 5px;
            color: #d0d0d0;
        }
        input[type=radio] {
            width: auto!important;
        }
        textarea{
            width: 249px;
            height: 90px;
            resize: vertical;
            background-color: #434568;
            border: none !important;
            padding: 10px;
            color: #d0d0d0;
        }
    }
}

// ngx search select
.ngx-dropdown-list-container{
    .search-container > input + label {
        font-size: 11px !important;
    }
}
.form-builder-wrapper{
    color: unset !important;
    .create-form-link {
        margin-top: 200px;
        > button{
            border: none;
            background: transparent;
            color: #fff;
            padding: 0px;
            margin-top: 21px;
            text-decoration: underline;
        }
    }
    .create-form-ui{
        border: 1px solid gray;
        margin-top: 0px;
        padding: 10px;
        .create-form-name{
            .form-name-input{
                width: 100%;
                border-radius: 4px;
                outline: none;
                box-shadow: none;
                margin-bottom: 24px;
                padding: 5px 10px;
            }
        }
    }

    .create-form-action{
        display: flex;
        gap: 10px;
        > button {
            flex: 1;
            border: none;
            box-shadow: none;
            padding: 4px 4px;
        }
    }

}
.teal-btn {
  color: white;
  border: 0px solid;
  padding: 7px 20px !important;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  background: deepskyblue;
}
.danger {
  color: red;
}
.pagination {
  justify-content: center;
}
@import "scss/variables";

/* fonts-icon */
@import "scss/fonts/feather/iconfont";
@import "scss/general";
@import "scss/generic";
@import "scss/mixins/function";

/* important element */
@import "scss/menu/menu-lite";
/* basic elements */
@import "scss/theme-elements/theme-elements";

/* advance-other elements */
@import "scss/other/other";

/* third party modules style*/
@import "scss/plugins/plugins";

@import "scss/layout/layout";
@import "scss/custom";

// .pcoded-main-container {
//     background-color: #ffffff;
// }
// .text-center {
//   text-align: unset !important;
// }
.otp-input[_ngcontent-c3] {
  width: 40px !important;
  height: 40px !important;
  border-radius: 4px;
  border: 1px solid #dddddd !important;
  text-align: center;
  font-size:  1rem !important;
}
#patientDropdown {
  p-dropdown .pi-chevron-down:before {
    content: "\e902";
    color: #dddddd !important;
    font-size: 14px !important;
}

p-dropdown .ui-dropdown {
  border: 1px solid #dddddd !important;
  width: 100% !important;
  min-width: unset !important;
  width: 100%;
    /* height: calc(1.5em + 0.75rem + 2px); */
    padding: 0.375rem 0.75rem;
    /* font-size: 1rem; */
    /* font-weight: 400; */
    /* line-height: 1.5; */
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

p-dropdown .ui-inputtext {
  margin: 0;
  outline: medium none;
  padding:0px !important;
  font-weight: normal;
}

p-dropdown label {
  border:none;
  line-height: 20px;
  font-size: 14px;
}
}

#lmpCalender {
  .ui-calendar {
    position: relative;
    width: 100% !important;
    display: inline-block;
}

.ui-inputtext {
  margin: 0;
  outline: medium none;
  padding: 7px !important;
  font-weight: normal;
  width: 100% !important;
  border: 1px solid #dddddd !important;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 12px;
  color:#d4d4d4;
}
input::-moz-placeholder { /* Firefox 19+ */
  font-size: 12px;
  color:#dddddd;
}
input:-ms-input-placeholder { /* IE 10+ */
  font-size: 12px;
  color:#d4d4d4;
}
input:-moz-placeholder { /* Firefox 18- */
  font-size: 12px;
  color:#dddddd;
}

}



#complete{
     .ui-autocomplete-multiple-container .ui-autocomplete-token {
        font-size: 14px;
        padding: 0.2145em 0.429em;
        margin: 0 0.286em 0 0;
        background: #ffffff;
        color: #ffffff;
        width: 100% !important;
    }
    .ui-autocomplete-multiple .ui-autocomplete-multiple-container {
        padding: 0.26em 1.599em;
    }
     .ui-autocomplete-panel {
        min-width: 69% !important;
        max-height: 191px;
        z-index: 1001;
        // top: 93px !important;
        // left: 16px !important;
        transform: translateY(0px);
        opacity: 1;
    }
    }

.blue-button {
  background-color: #1a4c8d;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 12px;
}
.white-button {
  background-color: #ffffff;
  color: #1a4c8d;
  padding: 10px 20px;

  border: 1px solid #dddddd;
  font-size: 12px;
  border-radius: 4px;
}


body .ui-datepicker .ui-datepicker-header .ui-datepicker-title select {
  border:unset;
}

.redText {
  color: red !important ;
  text-align: center;
}

.imagesize {
  max-width: 100%;
  height: auto;
}

.pcoded-navbar.navbar-collapsed:hover ~ .pcoded-main-container:before {
  background-color: transparent !important;
}

.pcoded-navbar.mob-open ~ .pcoded-header:before, .pcoded-navbar.mob-open ~ .pcoded-main-container:before, .pcoded-navbar.navbar-collapsed:hover ~ .pcoded-header:before, .pcoded-navbar.navbar-collapsed:hover ~ .pcoded-main-container:before {
  background-color: transparent !important;
}

.pcoded-navbar .pcoded-inner-navbar li.pcoded-hasmenu .pcoded-submenu li > a {
  padding-left: 80px !important;
}

.textCenter {
  text-align: center;
}

.poppins {
  font-family: Poppins;
  color: black;
}
body {
    font-family: $theme-font-family;
    font-size: $theme-font-size;
    color: $theme-font-color;
    font-weight: 400;
    background: #f3f3f3 !important;
    position: relative;
}
.global-input-search .ui-autocomplete .ui-autocomplete-input{
  padding-left: 30px !important;
  width:100%;
  border: 1px solid #dddddd;
}
.global-input-search .ui-autocomplete .ui-autocomplete-input::placeholder{

  color:#acacac;
}
.input-search {
  padding-right: 15px;
  padding-top: 12px;
}
.search-icon{
  position: absolute;
  z-index: 1;
  margin-left: 10px;
}
.no-data-found{
  width: 100%;
  text-align: center;
  p{
      font-size: 17px;
      padding-top: 20px;
  }
}
::ng-deep .otp-input[_ngcontent-c22] {
  width: 40px !important;
  height: 40px !important;
  border-radius: 4px;
  border: 1px solid #dddddd !important;
  text-align: center;
  font-size:  1rem !important;
}
::ng-deep .ui-toast .ui-toast-icon {
  display: none!important;
}
::ng-deep .custom-style{
  background-color:brown;
  color:white;
}
.edit-icon {
  height: 20px;
  border-right: 1px solid #ddd;
  padding-right: 15px;
  cursor: pointer;
}
.g-10 {
  gap: 10px;
}
.pcoded-navbar {
  box-shadow: 0px 0 1px 0 rgb(63, 77, 103);
  background: #b8c2d345;
}