.pcoded-content {
    padding-top: 0px !important;
    background: #fff!important;
}
#AdminNavbar .pcoded-navbar {
    box-shadow: none !important;
  }

.sticky{
    position:sticky;
    top:0;
    z-index:3;
}
.pcoded-content {
    padding-top: 0px !important;
    background: #fff !important;
}